@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.account {
	@apply inline-block cursor-pointer mx-2 hover:text-primary-700;
}

.section {
	@apply p-4 py-8 md:py-5 md:px-32 mt-5 mb-10;
}

.seach-option {
	@apply mb-8;
}

.option-heading {
	@apply text-slate-900 font-medium;
}

.option-input {
	@apply border border-neutral-400 p-2 px-3 rounded-sm w-full text-sm;
}

.input {
	@apply border border-neutral-300 p-2 px-3 rounded-sm w-full md:w-96 block text-sm mt-2 h-12;
}

.nav-category {
	@apply mx-3 capitalize text-base hover:text-primary-700;
}

.active {
	@apply text-primary-650 border-b-2 border-slate-700 px-1;
}

.hero-category {
	@apply m-2 sm:m-4 md:my-5 rounded-lg border border-slate-200 shadow-md bg-white transition duration-200 transform hover:scale-105 flex items-center overflow-hidden;
}

.important {
	@apply text-red-600;
}

.cat-header {
	@apply p-4 mb-10 text-2xl font-bold rounded-tr-lg px-0 border-y;
}

.trend-heading {
	@apply font-bold mt-10 mb-4;
}

.trend-card {
	@apply pl-6;
}

.linkText {
	@apply my-2 text-sm cursor-pointer hover:text-slate-400 block;
}

.link {
	@apply cursor-pointer;
}

.footer-header {
	@apply mb-5 text-lg font-bold text-black md:mt-10;
}

.footer-link {
	@apply mb-3 hover:text-primary-700;
}

.list-itm {
	@apply my-2;
}

.stars {
	@apply text-primary-650 m-0 p-0;
}

.dash-item {
	@apply flex-grow py-10 px-5 rounded-lg h-fit flex items-center justify-between gap-2;
}

.dash-item h2 {
	@apply font-medium;
}

.dash-item p {
	@apply font-extrabold text-2xl;
}

.accountHeading {
	@apply text-2xl mb-3 font-bold border-t md:border-t-0 pt-5 md:pt-0;
}

.activeMenuItem {
	@apply font-bold text-lg  text-primary-650;
}

.checkboxLablel {
	font-size: 14px;
	@apply ml-2;
}

.table-overflow {
	width: 100%;
}

.table-td {
	@apply px-5 py-5 border-b border-gray-200 bg-white text-sm text-center;
}

.text-pending {
	@apply text-yellow-900;
}

.text-paid {
	@apply text-blue-900;
}

.text-complete {
	@apply text-green-900;
}

.text-declined {
	@apply text-red-900;
}

.pending {
	@apply bg-yellow-200 text-yellow-900;
}

.complete {
	@apply bg-green-200 text-green-900;
}

.paid {
	@apply bg-blue-200 text-blue-900;
}

.declined {
	@apply bg-red-200 text-red-900;
}

.th {
	@apply px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-xs font-semibold text-gray-700 uppercase tracking-wider;
}

.product-img {
	@apply h-imgHalf md:h-imgFUll;
}

@media screen and (max-width: 400px) {
	.table-overflow {
		width: 90vw;
		overflow-x: auto;
	}

	.table-overflow::-webkit-scrollbar {
		height: 4px;
		cursor: pointer;
		padding: 3px;
	}
}

.no-scroll::-webkit-scrollbar {
	width: 0px;
	display: none;
}

@layer components {
	.skeleton-box {
		display: inline-block;
		height: 1em;
		position: relative;
		overflow: hidden;
		background-color: #dddbdd;
	}

	.skeleton-box::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform: translateX(-100%);
		background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0) 0,
			rgba(255, 255, 255, 0.2) 20%,
			rgba(255, 255, 255, 0.5) 60%,
			rgba(255, 255, 255, 0)
		);
		-webkit-animation: shimmer 2s infinite;
		animation: shimmer 2s infinite;
		content: "";
	}

	@-webkit-keyframes shimmer {
		100% {
			transform: translateX(100%);
		}
	}

	@keyframes shimmer {
		100% {
			transform: translateX(100%);
		}
	}

	/* width */
	::-webkit-scrollbar {
		width: 8px;
		cursor: pointer;
		padding: 3px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #888;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}

	.pagination {
		display: flex;
		margin-top: 70px;
		/* justify-content: center; */
	}

	.pagination a {
		padding: 10px;
		margin: 8px;
		border-radius: 5px;
		border: 1px solid #ffd700;
		color: #3b4252;
		cursor: pointer;
		/* font-weight: 700; */
		font-size: 13px;
	}

	.pagination a:hover {
		color: #fff;
		background-color: #ffd700;
	}

	.paginationActive a {
		color: #fff;
		background-color: #ffd700;
	}

	.paginationDisabled a,
	.paginationDisabled a:hover {
		color: #fff;
		background-color: #868e96;
		border: 1px solid #868e96;
		cursor: auto;
	}

	.wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.wrapper .file-upload {
		height: 100%;
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: "column";
		justify-content: center;
		align-items: center;
		border: 4px solid #ffffff;
		overflow: hidden;
		background-image: linear-gradient(to bottom, #2590eb 50%, #ffffff 50%);
		background-size: 100% 200%;
		transition: all 1s;
		color: #ffffff;
		font-size: 100px;
	}

	.wrapper .file-upload input[type="file"] {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		cursor: pointer;
	}
	.wrapper .file-upload:hover {
		background-position: 0 -100%;
		color: #2590eb;
	}

	.lds-roller {
		display: inline-block;
		position: relative;
		width: 80px;
		height: 80px;
	}
	.lds-roller div {
		animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		transform-origin: 40px 40px;
	}
	.lds-roller div:after {
		content: " ";
		display: block;
		position: absolute;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: #fff;
		margin: -4px 0 0 -4px;
	}
	.lds-roller div:nth-child(1) {
		animation-delay: -0.036s;
	}
	.lds-roller div:nth-child(1):after {
		top: 63px;
		left: 63px;
	}
	.lds-roller div:nth-child(2) {
		animation-delay: -0.072s;
	}
	.lds-roller div:nth-child(2):after {
		top: 68px;
		left: 56px;
	}
	.lds-roller div:nth-child(3) {
		animation-delay: -0.108s;
	}
	.lds-roller div:nth-child(3):after {
		top: 71px;
		left: 48px;
	}
	.lds-roller div:nth-child(4) {
		animation-delay: -0.144s;
	}
	.lds-roller div:nth-child(4):after {
		top: 72px;
		left: 40px;
	}
	.lds-roller div:nth-child(5) {
		animation-delay: -0.18s;
	}
	.lds-roller div:nth-child(5):after {
		top: 71px;
		left: 32px;
	}
	.lds-roller div:nth-child(6) {
		animation-delay: -0.216s;
	}
	.lds-roller div:nth-child(6):after {
		top: 68px;
		left: 24px;
	}
	.lds-roller div:nth-child(7) {
		animation-delay: -0.252s;
	}
	.lds-roller div:nth-child(7):after {
		top: 63px;
		left: 17px;
	}
	.lds-roller div:nth-child(8) {
		animation-delay: -0.288s;
	}
	.lds-roller div:nth-child(8):after {
		top: 56px;
		left: 12px;
	}
	@keyframes lds-roller {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

.slider {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.slider .wrapper {
	height: 100%;
	transition: 0.5s all linear;
	will-change: transform;
}
.slider .arrows {
	position: absolute;
	top: 50%;
	background: none;
	height: 60px;
	border: 0;
	cursor: pointer;
	transition: ease 0.3s all;
	outline: none;
}
.slider .arrows.prev {
	left: 0;
}
.slider .arrows.prev:hover {
	opacity: 0.7;
	left: -10px;
}
.slider .arrows.next {
	right: 0;
}
.slider .arrows.next:hover {
	right: -10px;
	opacity: 0.7;
}
.slider .dots-container {
	height: auto;
	margin: 0;
	padding: 0;
	position: absolute;
	width: auto;
	text-align: center;
	left: 50%;
	bottom: 9px;
	transform: translateX(-50%);
	z-index: 10;
	list-style-type: none;
}
.slider .dots-container li {
	display: inline-block;
	padding: 5px;
}
.slider .dots-container li.active button {
	color: #00d8ff;
}
.slider .dots-container li button {
	color: #fff;
	background-color: transparent;
	border: none;
}
.slider .dots-container li button:hover {
	text-decoration: none;
	opacity: 0.7;
	cursor: pointer;
}
.slider .toggle-play {
	background: transparent;
	border: none;
	height: auto;
	position: absolute;
	width: auto;
	right: 5%;
	bottom: 9px;
	color: #3d3d3d;
	z-index: 1000000;
}
.slider .toggle-play:hover {
	text-decoration: none;
	opacity: 0.7;
	cursor: pointer;
}
.slider .each-slide {
	@apply w-screen h-screen md:w-full md:h-full;
	float: left;
	line-height: 100vh;
	font-size: 40vh;
	text-align: center;
	background-size: cover;
	background-position: center center;
	background-color: transparent;
}
